
@{
	Layout = "";
}

<h2>Index</h2>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
	$(document).ready(function () {
		var location = window.location.href;
		$('h2').text(location);

		// window.parent.document.getElementById('DeltaPlaceHolderPageTitleInTitleArea').innerText = location;
		console.log(window.parent.fuck);
	})
</script>