
@{
	Layout = "";
}

<h2></h2>
<h1>You may now close this window.</h1>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
	$(document).ready(function () {
		var location = window.location.href;
		$('h2').text(location);
		window.postMessage("From the iframe...", "http://localhost:49899");
	})
</script>